/*UTILITIES*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

:root {
    --yellow: #F5D286;
}


body,
p {
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Playfair Display', serif;
}

.title {
    font-size: 3em;
    padding: 0;
    margin-top: 1em;
}

.subtitle {
    font-size: 1em;

}

.textHighlight {
    background-color: var(--yellow);
}


/*style for section button containers*/

.nonLinearButtons {
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    flex-basis: 50%;
    flex-wrap: wrap;


}

.gallery {
    transition: transform .3s;
}

.gallery:hover {
    transform: scale(1.1);
}

.hoverAnim {
    transition: transform .2s;
}

.hoverAnim:hover {
    transform: scale(1.1);
}


.nonLinearContent {
    text-align: center;
    margin-bottom: 20px;

}



/*style opening buttons*/
.buttonsMain {
    display: flex;
    flex-wrap: wrap;


}

/*style close buttons*/
.buttonsClose {
    margin-right: 20px;


}

/*LANDING*/

.splash {
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#myVideo {

    position: relative;
    text-align: center;
    width: 95vw;
    margin: 0;
    padding: 0;
}


/*INTRO*/



.gallery img {
    width: 100px;
    height: auto;
}


.gallery,
.galleryRight {

    padding: 1em;
    text-align: center;
    margin: auto;
    list-style: none;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}

.gallery li:nth-child(1) {

    grid-column: 1/3;
    grid-row: 2/6;
    z-index: 1;
    font-size: 1.em;
    align-self: end;
    margin: 0;
    padding: 0;
}

.gallery li:nth-child(2) {

    grid-row: 5/7;
    grid-column: 1/4;
    font-size: 0.7em;
    z-index: 1;
    margin: 0;
    padding: 0;

}

.gallery li:nth-child(3) {

    grid-column: 2/4;
    grid-row: 2/5;
    margin: 0;
    padding: 0;
}


.gallery li:nth-child(4) {

    grid-column: 3/5;
    grid-row: 3/7;
    margin: 0;
    padding: 0;


}



/* CSS just for the numbers */

/*FIRST SECION BLOCK*/

.buttonFirstSteps {}

.yellowDiv {}

.pictureDiv {}

/*FIRST STEPS*/

#firstSteps {
    display: none;
}


/*STRINGS SISTERS*/
#theStringsSisters {
    display: none;
}


/*THE RIGHT RYTHM */

.theRightRythm {}

/*CHANGE OF PLANS*/

.changeOfPlans {
    background-color: black;
    color: white;

}

/*SECOND SECTION BLOCK */



/*BACK TO MUSIC*/

#backToMusic {
    display: none;
}

/*TENSION ON THE STRINGS*/
#tensionOnTheStrings {
    display: none;
}

/*A HARD GOODBYE*/

.aHardGoodbye {
    background-color: black;
    color: white;
}

/*WHO KILLED BAMBI*/
#whoKilledBambi {

    display: none;
}

/*TRIO COL BASSO*/

#trioColBasso {
    display: none;
}






/*SUBPAGE WHO KILLED BAMBI*/


/*SUBPAGE TRIO COL BASSO*/



/*RESPONSIVENESS*/

}

@media only screen and (min-width: 480px) {
    .nonLinearButtons {
        flex-wrap: nowrap;
    }

    .gallery li:nth-child(2) {
        font-size: 1em;
        z-index: 1;

    }

    .gallery img {
        width: 150px;
        height: auto;
    }

    .gallery img {
        width: 150px;
        height: auto;
    }



}


@media only screen and (min-width: 768px) {
    .nonLinearButtons {
        flex-direction: row;
    }


    .buttonsMain {
        flex-wrap: nowrap;
    }

    .gallery li:nth-child(1) {
        font-size: 2em;
    }


    .gallery li:nth-child(2) {
        font-size: 1em;
        z-index: 1;

    }

    .gallery img {
        width: 100%;
        max-width: 250px;
        height: auto;

    }
}